@model IEnumerable<SimuTrainApp.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1 class="Centered">Stations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NBParcels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NBPassenger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
            <tr class="yell">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBParcels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBPassenger)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
