@model IEnumerable<SimuTrainApp.Models.Train>

@{
    ViewData["Title"] = "Index";
}

<h1 class="Centered">Nos trains</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NBPassenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NBParcels)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>*@
 @*          <th></th>*@
       </tr>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
            <tr class="yell">
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Matricule)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBPassenger)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBParcels)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>*@
 @*           <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>

