@model SimuTrainApp.ViewModels.ListTrainVM


<div class="text-center">
    <h1 class="display-4">
        Bienvenue sur la @Model.Title.ToLower();
    </h1>

    <table>
        <thead>
            <tr>
                <th>Matricule</th>
                <th>Nombre De Passager Autorisé</th>
                <th>Nombre de Passager A Bord</th>
                <th>Nombre de Colis A Bord</th>
            </tr>
        </thead>

        @foreach( Train train in Model.trains)
        {
            <tr>

                <td>
                    <a href="" target="_blank">
                        @train.Matricule
                    </a>
                </td>
                <td>@train.Capacity</td>
                <td>@train.NBPassenger</td>
                <td>@train.NBParcels</td>
            </tr>

        }






    </table>


</div>

