@model SimuTrainApp.ViewModels.TrainDetailVM

<div class="text-center">
    @if (Model.ErrorMessage == null)
    {
        <h1>@Model.Title</h1>
        <br />
        <div class="container">
            <div class="row">
                <div>

                    <table class="table table-bordered table-dark">
                        <thead>
                            <tr>
                                <th col="row">Train</th>
                                <th col="row">Gare de départ</th>
                                <th col="row">Destination</th>
                                <th col="row">Heure de départ</th>
                                <th col="row">Heure d'arrivé</th>
                                <th col="row">NB de Passager</th>
                                <th col="row">NB de Colis</th>
                                
                            </tr>
                        </thead>

                        <tr class="table-info">


                            <td class="table-dark">
                                @Model.CurrentTrain.Matricule
                            </td>
                            <td>@Model.CurrentTrain.RouteOfTrain.DepartureStation.Name</td>
                            <td>@Model.CurrentTrain.RouteOfTrain.ArrivalStation.Name</td>
                            <td>@Model.CurrentTrain.RouteOfTrain.DepartureTime</td>
                            <td>@Model.CurrentTrain.RouteOfTrain.ArrivalTime</td>
                            <td>@Model.CurrentTrain.NBPassenger </td>
                            <td>@Model.CurrentTrain.NBParcels </td>
                            
                        </tr>
                        </table>
                </div>

            </div>
        </div>
    }
    else
    {
        <h1 class="alert-danger">@Model.ErrorMessage</h1>
    }

    <a class="MyButton" href="~/DM/CurrentTrainDashBoard">
        Retour à la liste
    </a>
    <div class="trainplacement">
    <div class="train">
        <div class="front wheel"></div>
        <div class="back wheel"></div>
    </div>

    <div class="cover">
        <div class="path"></div>
    </div>
    <div class="text"> Votre train est en déplacement ...</div>
    </div>
</div>
